h2 {
	font-size: 3em;
    color: green;
	style="background-color:#33475b"
	}
	
h2 {
	  font: normal normal normal 20px/1 Helvetica, arial, sans-serif;
  border-bottom: 2px solid #000;
  background: gray;
  color:#fff;

  display:inline-block;
  padding:3px 15px;
  margin-left:10px;
}